# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
lib/

# Tins header files
*tins/
# Pcap header files
*pcap/
bittypes.h
ip6_misc.h
Packet32.h
pcap-bpf.h
pcap-namedb.h
pcap-stdinc.h
pcap.h
remote-ext.h
Win32-Extensions.h

# Executables
*.exe
*.out
*.app

# Build folder
build/

# VSCode
.vscode/
