[submodule "vendor/libtins"]
	path = vendor/libtins
	url = https://github.com/mfontanini/libtins
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/implot"]
	path = vendor/implot
	url = https://github.com/epezent/implot
